{% extends 'base.html' %}
{% block body %}

<div class="container my-3">
    <h1 class="text-center text-danger text-decoration-underline">ToDo- Now never forget about your todo's</h1>
    <div class="container">
        <form action="/update/{{todo.sno}}" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Todo Title</label>
                <input type="text" class="form-control" name="title" value="{{todo.title}}" id="title" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Description</label>
                <input type="text" class="form-control" name="desc" value="{{todo.desc}}" id="desc">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% endblock body %}